<div class="divider"></div>
<div tabindex="-1" id="nothing-selected-modal" class="modal fade in hide">
    <div class="modal-header">
        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
        <h3 class="text-dialog-title">No Inputs Selected</h3>
    </div>
    <div class="modal-body form form-horizontal modal-body-scrolling">
        No inputs were selected, please select at least one input.
    </div>
    <div class="modal-footer">
        <button class="btn btn-dialog-cancel label_from_data" data-dismiss="modal" style="display: inline;">Close</button>
    </div>
</div>

<div tabindex="-1" id="disable-input-modal" class="modal fade in hide">
    <div class="modal-header">
        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
        <h3 class="text-dialog-title">Disable Input</h3>
    </div>
    <div class="modal-body form form-horizontal modal-body-scrolling">
        Are you sure you want to disable this input?
        
        <table class="disable-input-info-table">
        	<tr>
        		<td class="disable-input-info">Input</td>
        		<td class="disable-input-name"></td>
        	</tr>
        	<tr>
        		<td class="disable-input-info">Namespace</td>
        		<td class="disable-input-namespace"></td>
        	</tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-dialog-cancel pull-left" data-dismiss="modal" style="display: inline;">Cancel</button>
        <button class="btn btn-primary" id="disable-this-input" data-dismiss="modal" style="display: inline;">Yes, Disable</button>
    </div>
</div>

<div tabindex="-1" id="delete-input-modal" class="modal fade in hide">
    <div class="modal-header">
        <button type="button" class="close btn-dialog-close" data-dismiss="modal">x</button>
        <h3 class="text-dialog-title">Delete Input</h3>
    </div>
    <div class="modal-body form form-horizontal modal-body-scrolling">
        Are you sure you want to delete this input? This operation cannot be undone.
        
        <table class="delete-input-info-table">
        	<tr>
        		<td class="delete-input-info">Input</td>
        		<td class="delete-input-name"></td>
        	</tr>
        	<tr>
        		<td class="delete-input-info">Namespace</td>
        		<td class="delete-input-namespace"></td>
        	</tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-dialog-cancel pull-left" data-dismiss="modal" style="display: inline;">Cancel</button>
        <button class="btn btn-primary" id="delete-this-input" data-dismiss="modal" style="display: inline;">Yes, Delete</button>
    </div>
</div>

<div id="success_message" class="hide alert alert-info">
  <i class="icon-alert"></i><span id="success_text">The changes were successfully saved</span>
</div>

<div id="failure_message" class="hide alert alert-error">
  <i class="icon-alert"></i><span id="error_text">Changes could not be saved</span>
</div>

<div class="selected-message-container pull-left">
	<div id="selected-message" class="hide alert alert-info">
	  <i class="icon-alert"></i><span id="selected-text"></span><a class="clear-selected-items" href="#">Clear selected items.</a>
	</div>
</div>

<div class="btn-group create-content pull-right new-input-button-group">
    <a class="btn btn-primary" href="create_web_input">
        Create a New Input
    </a>
</div>

<div class="button-link pull-right">
    <a href="?tour=web_input_new_features">
        What's new in this version?
    </a>
</div>

<script type="text/x-template" id="list-template">

<div class="btn-group scope-filter pull-left btn-group-radio">
	<a class="btn active" href="#">All</a>
	<a class="btn" href="#">Enabled</a>
	<a class="btn" href="#">Disabled</a>
</div>

<div class="btn-group app-filter pull-left dropdown-secondary">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        App
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" style="width: 220px;margin-left: -38px;margin-top: 2px;">
		<li><a href="#"><i class="icon-check " <% if(filter_app === null) { %>hide<% } %>/>All</a></li>
	<% for(var c=0; c < apps.length; c++) { %>
		<li><a href="#" data-name="apps[c].name"><i class="icon-check <% if(filter_app !== apps[c].label) { %>hide<% } %>" /><%- apps[c].label %></a></li>
	<% } %>
    </ul>
</div>

<form class="form-search pull-left">
    <input type="text" placeholder="Search by name or title" id="free-text-filter" class="input-large search-query" value="<% if(filter_text !== null) { %><%- filter_text %><% } %>">
</form>

<div class="inputs-count pull-left">
	<%- inputs_count %> inputs
</div>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-chrome display dataTable" id="table">
    <thead>
        <tr role="row">
            <th>Name</th>
            <th>Title</th>
			<th>App</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        <% for (var i = 0; i < inputs.length; i++) { %>
        <tr data-input-name="<%- inputs[i].name %>">
            <td><a href="edit_web_input?name=<%- inputs[i].name %>&namespace=<%- inputs[i].namespace %>&owner=<%- inputs[i].owner %>"><%- inputs[i].name %></a></td>
            <td><%- inputs[i].title %></td>
			<td><%- getAppDescriptionFromName(inputs[i].namespace) %></td>
			<td>
				<% if (!inputs[i].disabled) { %>
					<a class="action-link disable-input" data-owner="<%- inputs[i].owner %>" data-namespace="<%- inputs[i].namespace %>" data-name="<%- inputs[i].name %>" href="#">Disable</a>
				<% } if (inputs[i].disabled) { %>
					<a class="action-link enable-input" data-owner="<%- inputs[i].owner %>" data-namespace="<%- inputs[i].namespace %>" data-name="<%- inputs[i].name %>" href="#">Enable</a>
				<% } %>
                    <a class="action-link delete-input" data-owner="<%- inputs[i].owner %>" data-namespace="<%- inputs[i].namespace %>" data-name="<%- inputs[i].name %>" href="#">Delete</a>
			</td>
        </tr>
		<% } %>
    </tbody>
</table>

</script>

<div id="content">
    <div class="loading-placeholder">
        Retrieving inputs...
                
		<div class="progress">
		  <div class="bar" style="width: 0%;"></div>
		</div>
    </div>
</div>
