<% if(!has_permission){ %>
<div id="input-not-loaded" >
	<h3>Insufficient permissions</h3>
	<div class="alert alert-warning">
            <i class="icon-alert"></i>
            <div class="message">You do not have the capabilities necessary to edit or create this type of input. You need to have both the "edit_modinput_web_input" and "list_inputs" capabilities.</div>
	</div>
</div>
<% } else { %>
<div id="selector-help-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Help</h3>
  </div>
  <div class="modal-body">
  	The selector is used to indicate what data you want to extract from the page.
  	See <a href="http://www.w3schools.com/cssref/css_selectors.asp" target="_blank">W3schools</a> for information on how to CSS selectors work.
  	<p>
  	<br />
  	The page preview pane can be used to create a selector by clicking the elements you want or don't want.
  	Once the preview panel has successfully loaded, you can specify the items you want to extract by:
  
    <ol>
    	<li><strong>Click the item or items you want to extract.</strong> Items you clicked will be highlighted in green and items that are similar will be highlighted in yellow.</li>
    	<li><strong>Click any items that you do not want to be extracted.</strong> The selector will be automatically updated such that it excludes that item. These will be highlighted in red.</li>
    	<li><strong>If you want to start over, click "Clear".</strong> This will remove the selector so that you can start over.</li>
    </ol>
  	<p>
  	<br />
  	
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>

<div id="authentication-help-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Help</h3>
  </div>
  <div class="modal-body">
		Entering credentials will cause the input to attempt to perform authentication before doing the data-extraction.

		<a target="_blank" href="https://en.wikipedia.org/wiki/HTTP_authentication">HTTP authentication <i class="icon-external"></i></a> will be used if no URL is provided for the login form.
  	<p />
		If a login form URL is provided, then the input will attempt to authenticate by first submitting the login form.
  	<p />
		Note that form authentication is tricky and not all authentication forms will work.
		Forms that use the following are not supported:
		<p />
    <ol>
    	<li>Forms that require the use of Javascript (unless you use Firefox or Chrome for rendering)</li>
			<li>Forms that use two-factor authentication</li>
			<li>Forms that require several forms to be completed in sequence</li>
			<li>Forms that use a captcha</li>
    </ol>
  	<br />
  	
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>

<div id="browser-help-dialog" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Help</h3>
  </div>
  <div class="modal-body">
		The use of a desktop web-browser allows you to get the content of pages after Javascript has been executed.
		To use a browser, you will need to do some things to make sure the browser is ready to be executed by Website Inputs:
  	<p>
  	<br />

    <ol>
    	<li><strong>Install the Browser.</strong> Download and install <a target="_blank" href="https://www.mozilla.org/firefox/new/?scene=2">Mozilla Firefox<i class="icon-external"></i></a> or <a target="_blank" href="https://www.google.com/chrome/browser/desktop/index.html">Google Chrome<i class="icon-external"></i></a>.</li>
    	<li><strong>Install the browser driver (optional).</strong> The Website Input includes browser drivers for Chrome and Firefox. If you need a newer version of the driver then download either the <a target="_blank" href="https://github.com/mozilla/geckodriver/releases">Geckodriver<i class="icon-external"></i></a> (if you are using Firefox) from Github or download the <a target="_blank" href="https://sites.google.com/a/chromium.org/chromedriver/downloads">Chromedriver<i class="icon-external"></i></a> (for Chrome) and place it somewhere in your path.</li>
	</ol>
	
	See <a target="_blank" href="search?q=search%20index%3D_internal%20sourcetype%3Dweb_input_controller%20&quot;Exception%20generated%20when%20attempting%20to%20test%20the%20browser&quot;&earliest=-24h%40h&latest=now">the logs</a> if the browser doesn't work in order to try to narrow down the problem.
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>

<div id="preview-results-modal-holder"></div>

<div id="input-not-loaded" style="display:none">
	<div class="alert alert-warning">
            <i class="icon-alert"></i>
            <div class="message">The input could not be loaded</div>
	</div>
</div>

<div id="step-control-wizard"></div>

<div class="wizard-content" id="url-edit">
	<h2>Enter URL</h2>
	<div class="help-text">
		Specify the page you want to extract data from.
	</div>
	
	<form class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label required-input" for="inputURL">URL</label>
	    <div class="controls">
		  <input type="text" class="input-xlarge" id="inputURL" placeholder="e.g. https://textcritical.net">
		  <a href="#" class="openInNewTab external">Open link</a>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label required-input" for="inputInterval">Interval</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="inputInterval" placeholder="e.g. 4h">
	    </div>
	  </div>
	
	  <div class="control-group">
	    <label class="control-label"><span class="control-section">Web Crawling</span></label>
	    <div class="controls"></div>
	  </div>
	
	  <div class="control-group">
	    <label class="control-label" for="inputPageLimit">Page Limit</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="inputPageLimit">
	      <span class="help-block">A limit on the number of pages that will be auto-discovered</span>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputDepthLimit">Depth Limit</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="inputDepthLimit">
	      <span class="help-block">A limit on how deep to go when looking for pages</span>
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="inputURLFilter">URL Filter</label>
	    <div class="controls">
				<input type="text" class="input-xlarge" id="inputURLFilter" placeholder="e.g. https://textcritical.net/*">
				<a href="#" id="suggestURLFilter">Auto-populate URL filter</a>
	      <span class="help-block">A wild-card that will indicate which pages it should search for matches in</span>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label"><span class="control-section">HTTP Client</span></label>
	    <div class="controls"></div>
	  </div>
	
	  <div class="control-group">
	    <label class="control-label" for="inputTimeout">Timeout</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="inputTimeout">
	      <span class="help-block">How long (in seconds) to wait until ending the extraction; increase this if you are using a browser to execute Javascript and the view doesn't render quickly enough</span>
	    </div>
	  </div>
	  
	  <div class="control-group" <% if(is_on_cloud){ %>style="display:none"<% } %>>
	    <label class="control-label" for="inputBrowser">Browser</label>
	    <div class="controls">
		  <select class="input-xlarge" id="inputBrowser">
				<option value="integrated_client">Built-in client</option>
				<option value="firefox">Firefox</option>
				<option value="chrome">Chrome</option>
		  </select>
	    <span>
				<a href="#" id="browserConnectionTest">Test browser</a>
				<span id="browserTestResults"></span>
			</span>

	    <span class="help-block">The browser to use when performing the HTTP request; make sure to have the necessary browser installed if you do not use the built-in client; <a class="browserHelp" href="#">learn more</a></span>

			</div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="inputUserAgent">User Agent</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="inputUserAgent">
	      <span class="help-block">The value of the user agent header to use (only applies to the built-in client)</span>
	    </div>
	  </div>
	</form>

</div>

<div id="warning-message" class="alert alert-warning hide">
	<i class="icon-alert"></i>
	<div class="message">Warning!</div>
</div>
			
<div id="info-message" class="alert alert-info hide">
	<i class="icon-alert"></i>
	<div class="message">Ok!</div>
</div>

<div class="wizard-content" id="auth-edit">
	<h2>Enter Credentials</h2>
	<div class="help-text">
		Enter credentials for authenticating to the website.
	</div>
	
	<form class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="inputUsername">Username</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="inputUsername" autocomplete="new-password">
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Password</label>
	    <div class="controls">
	      <input type="password" class="input-xlarge" id="inputPassword" autocomplete="new-password">
	    </div>
		</div>

		<div class="control-group">
	    <label class="control-label"><span class="control-section">Form Authentication</span></label>
	    <div class="controls"><a href="#" class="authenticationHelp">Learn more</a></div>
	  </div>
		
		<div class="control-group">
	    <label class="control-label" for="inputLoginURL">Login form URL</label>
	    <div class="controls">
				<input type="text" class="input-xlarge" id="inputLoginURL">
				<span class="help-block">The URL of the login page if the input needs to use form authentication</span>
	    </div>
		</div>

		<div class="control-group">
	    <label class="control-label" for="inputUsernameField">Username field name</label>
	    <div class="controls">
				<input type="text" class="input-xlarge" id="inputUsernameField">
				<span class="help-block">The name of the login form control that will contain the username</span>
	    </div>
		</div>

		<div class="control-group">
	    <label class="control-label" for="inputPasswordField">Password field name</label>
	    <div class="controls">
				<input type="text" class="input-xlarge" id="inputPasswordField">
				<span class="help-block">The name of the login form control that will contain the password</span>
	    </div>
		</div>
			
		<div class="control-group">
	    <div class="controls">
				<a id="detect-field-names" href="#">Auto-detect username and password field names</a>
				<span id="detectFieldResults"></span>
	    </div>
		</div>
		
	</form>

</div>

<div class="wizard-content" id="selector-edit">
	<h2>Define CSS Selector</h2>
	<div class="help-text">
		Create a CSS selector to extract that data from the web-page. <a href="#" class="show-selector-help-dialog">Learn more</a>
		
		<div class="step-action-buttons">
			<button class="btn show-results-preview-dialog">Preview output</button>
			<a href="#" class="show-results-in-search">Preview results in search <i class="icon-external"></i></a>
		</div>
	</div>

	<div class="form-horizontal fullWidth">
		
		<div class="control-group inline">
		  <label class="control-label required-input" for="inputSelector">Selector</label>
		  <div class="controls">
				<div class="input-append selector-buttons">
					<div class="btn-group">
						<input id="inputSelector" type="text" value="" />
						<button class="btn clearSelector" type="button">Clear</button>
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							Select Preview URL
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu preview-url-dropdown-selector">
								<li><a href="#" class="preview-url">No URLs loaded yet</a></li>
						</ul>
						<div class="preview-urls-loading-container">
							<div class="preview-urls-loading" style="display:none;">Loading preview URLs...</div>
						</div>
					</div>
				</div>
				<div class="help-block match-count"></div>
			</div>
		</div>
		
		<div class="control-group pull-right styles-switcher">
		    <label class="control-label">Styles</label>
		    <div class="controls">
			    <div class="btn-group btn-group-radio switch-styles">
					<a class="btn active styles-on" href="#">On</a>
					<a class="btn styles-off" href="#">Off</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-preview-header">
		Page preview <span class="page-preview-loading">(loading...)</span>:
	</div>
	
	<!-- This form is used to convert the preview request to a POST  -->
	<form id="preview-form" class="hide" method="post" target="preview-panel">
		<input type="hidden" id="form-key" name="splunk_form_key" value="" />
	</form>
	
	<div class="preview-panel-holder">
		<iframe id="preview-panel" name="preview-panel"></iframe>
	</div>
</div>

<div class="wizard-content" id="output-edit">
	<h2>Customize Output</h2>
	<div class="help-text">
		Optionally customize the output of the matched data.
		<div class="step-action-buttons">
			<button class="btn show-results-preview-dialog">Preview output</button>
			<a href="#" class="show-results-in-search">Preview results in search <i class="icon-external"></i></a>
		</div>
	</div>
	
    <form class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="inputIncludeRaw">Include raw output</label>
	    <div class="controls">
	      <input type="checkbox" id="inputIncludeRaw">
	      <span class="help-block">Include the original raw content returned by the server in the result (useful if you want to do your own parsing)</span>
	    </div>
	  </div>

    <form class="form-horizontal">
	  <div class="control-group">
	    <label class="control-label" for="inputIncludeEmpty">Include empty matches</label>
	    <div class="controls">
	      <input type="checkbox" id="inputIncludeEmpty">
	      <span class="help-block">Include fields for empty matches (otherwise, they are excluded)</span>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputUseTagAsField">Use tag name as field name</label>
	    <div class="controls">
	      <input type="checkbox" id="inputUseTagAsField">
	      <span class="help-block">Sets the name of the field to the tag of the matching element (e.g. a match under a "&lt;volts&gt;12.6&lt;/volts&gt;" element would be put in a field named "volts")</span>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputMV">Output results as multi-value field</label>
	    <div class="controls">
	      <input type="checkbox" id="inputMV">
	      <span class="help-block">Outputs the matches as a multi-value field (otherwise, separate fields will be created)</span>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputNameAttributes">Name attributes (to use HTML attributes to assign field names)</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="inputNameAttributes" placeholder="e.g. class,id">
	      <span class="help-block">The value of the field name will be set to the value of the attribute in the matching element; enter multiple attributes separated by commas</span>
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="inputTextSeparator">Text separator</label>
	    <div class="controls">
	      <input type="text" class="input-xlarge" id="inputTextSeparator">
	      <span class="help-block">Sets the string that will be placed between the extracted values (e.g. a separator of ":" for a match against "&lt;a&gt;tree&lt;/a&gt;&lt;a&gt;frog&lt;/a&gt;" would return "tree:frog")</span>
	    </div>
	  </div>

	  <div class="control-group">
			<label class="control-label" for="inputOutputResults">Conditional Output</label>
			<div class="controls">
				<div class="input input-dropdown" id="inputOutputResults"></div>
				<span class="hide help-inline"></span>
				<span class="help-block">Output results only when the data changes in order to reduce unnecessary repetition</span>
			</div>
	  </div>	
	</form>

</div>

<div class="wizard-content" id="index-edit">
	<h2>Define Input Settings</h2>
	<div class="help-text">
		Optionally set additional input parameters for this data input.
	</div>
	
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputIndexes">Index</label>
			<div class="controls">
				<div class="input input-dropdown" id="inputIndexes"></div>
				<span class="hide help-inline"></span>
				<span class="help-block">Indicates which index to put the resulting data</span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="inputSourcetype">Sourcetype</label>
			<div class="controls">
				<div class="input" id="inputSourcetype"></div>
				<span class="hide help-inline"></span>
				<span class="help-block">Indicates the sourcetype of the data</span>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="inputHost">Host</label>
			<div class="controls">
				<div class="input" id="inputHost"></div>
				<span class="hide help-inline"></span>
				<span class="help-block">Indicates the host value of the data</span>
			</div>
		</div>
	</form>
</div>

<div class="wizard-content" id="name-edit">
	<h2>Save Input</h2>
	<div class="help-text">
		Optionally set input title or name.
	</div>
	
	<form class="form-horizontal">
				
		<div class="control-group">
			<label class="control-label" for="titleInput">Title</label>
			<div class="controls">
				<div class="input" id="titleInput"></div>
				<span class="hide help-inline"></span>
				<span class="help-block">Provide a description of the input</span>
			</div>
		</div>
	
		<div class="control-group hide-if-existing">
			<label class="control-label" for="nameInput">Name</label>
			<div class="controls">
				<div class="input" id="nameInput"></div>
				<span class="hide help-inline"></span>
				<span class="help-block">Define the stanza name of the input</span>
			</div>
		</div>
	</form>
</div>

<div class="wizard-content" id="final">

	<h2>Finish</h2>
	<div class="help-text">
		
		<div class="alert alert-info">
            <i class="icon-alert"></i>Input was successfully saved.
        </div>
        
        <a href="web_input_list">Return to inputs list</a>
	</div>
</div>
<% } %>