.preview-panel-holder{
	clear:both;
}

#preview-panel{
	width: 100%;
	border: 0px;
	height: 600px;
	background-color: white;
}

.page-preview-header{
	margin-top: 24px;
}

.wizard-content{
	background-color: white;
	padding: 12px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.required-input:after {
	content:" *";
	color: #d6563c;
	font-weight: 700;
}

.help-text{
	margin-bottom: 32px;
}

#preview-panel{
	border: 2px dashed #ddd;
}

.WebsiteInputCreateView{
	border-top: 1px solid #ccc;
	background-color: white;
}

.preview-url-dropdown-selector{
    margin-top: 0px;
    margin-left: -73px;
}

.preview-urls-loading{
	display: inline-block;
	margin-left: 6px;
	background-image: url('/static/app/website_input/img/spiffygif_14x14.gif');
	background-repeat: no-repeat;
    padding-left: 16px;
}


.control-section{
	font-size: 12px;
    font-weight: 700;
}

.preview-urls-loading .spinner{
	margin-right: 3px;
}

.spinner {
	/*
  	position: absolute;
  	top: calc(50% - 1rem);
  	left: calc(50% - 1rem);
  	width: 2rem;
  	height: 2rem;
  	border: 0.25rem solid #ffc000;
  	border-bottom: 0.25rem solid rgba(255,255,255,0);
  	*/
  	width: .5rem;
  	height: .5rem;
  	border: 0.14rem solid #000000;
  	border-bottom: 0.14rem solid rgba(255,255,255,0);
  	border-radius: 50%;
  	-webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
  	z-index: 9999;
}

.spinner--hidden {
  	display: none;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}