.preview-panel-holder{
	clear:both;
}

#preview-panel{
	width: 100%;
	border: 0px;
	height: 600px;
	background-color: white;
}

.page-preview-header{
	margin-top: 24px;
}

.wizard-content{
	background-color: white;
	padding: 12px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.required-input:after {
	content:" *";
	color: #d6563c;
	font-weight: 700;
}

.help-text{
	margin-bottom: 32px;
}

.match-count{
    min-height: 16px;
}

.step-action-buttons{
	margin-top: 16px;
}

#preview-panel{
	border: 2px dashed #ddd;
}

.WebsiteInputCreateView{
	border-top: 1px solid #ccc;
	background-color: white;
}

.preview-url-dropdown-selector{
    margin-top: 0px;
    margin-left: -73px;
}

.preview-urls-loading-container{
    display: inline-block;
    vertical-align: middle;

}

.preview-urls-loading{
	display: inline-block;
	margin-left: 6px;
	background-image: url('/static/app/website_input/img/spiffygif_14x14.gif'); /* http://spiffygif.com/?color=000&length=2&radius=3&width=1 */
	background-repeat: no-repeat;
    padding-left: 16px;
    font-size: 12px; /* Set the size to override the font-size: 0 setting on Splunk 7.1+ */
    background-position-y: 2px;
}

.inline{
	display:inline-block;
}

#input-not-loaded{
	min-height: 300px;
	margin-left: 64px;
	margin-top: 64px;
}

.control-section{
	font-size: 12px;
    font-weight: 700;
}


/**
 * The following two entries will get the labels and inputs to consistently align.
 */
 .controls> .help-block{
    padding-left: 10px;
}

.controls > input,
.controls > select{
    margin-left: 10px;
}

.preview-urls-loading .spinner{
	margin-right: 3px;
}

.show-results-in-search{
	margin-left: 12px;
}

.authenticationHelp{
    padding-top: 6px;
    padding-left: 10px;
    display: inline-block;
}

#inputIndexes{
    width: 240px;
}

/* Styling for detecting login fields. */
#detect-field-names{
    margin-left: 10px;
}

.detectFieldsWorked, .detectFieldsFailed, .detectFieldsChecking{
    margin-left: 12px;
}

.detectFieldsWorked{
    color: green;
	-moz-animation: highlighted-ok 0.5s;
 	-webkit-animation: highlighted-ok 0.5s;
  	-o-animation: highlighted-ok 0.5s;
  	animation: highlighted-ok 0.5s;
}

.detectFieldsFailed{
    color: red;
	-moz-animation: highlighted-not-ok 0.5s;
 	-webkit-animation: highlighted-not-ok 0.5s;
  	-o-animation: highlighted-not-ok 0.5s;
  	animation: highlighted-not-ok 0.5s;
}

.detectFieldsChecking{
    background-image: url(/static/app/website_input/img/spiffygif_14x14.gif);
    background-repeat: no-repeat;
    padding-left: 16px;
}

#inputSelector{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}

.selector-buttons{
	min-width: 600px;
}

.fullWidth{
    width: 100%;
}

/* Styling for whether the browser works or not. */
#browserConnectionTest, #suggestURLFilter{
    margin-left: 4px;
}

.browserWorks, .browserDoesntWork, .browserChecking{
    margin-left: 12px;
}

.browserWorks{
    color: green;
	-moz-animation: highlighted-ok 0.5s;
 	-webkit-animation: highlighted-ok 0.5s;
  	-o-animation: highlighted-ok 0.5s;
  	animation: highlighted-ok 0.5s;
}

.browserDoesntWork{
    color: red;
	-moz-animation: highlighted-not-ok 0.5s;
 	-webkit-animation: highlighted-not-ok 0.5s;
  	-o-animation: highlighted-not-ok 0.5s;
  	animation: highlighted-not-ok 0.5s;
}

.browserChecking{
    background-image: url(/static/app/website_input/img/spiffygif_14x14.gif);
    background-repeat: no-repeat;
    padding-left: 16px;
}

@keyframes highlighted-ok {
  0.01% {
    background: #58c126;
	box-shadow: 0 0 0 0 #58c126;
  }

  70.1% {
	box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
    background: inherit;
	box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes highlighted-not-ok {
  0.01% {
    background: red;
	box-shadow: 0 0 0 0 red;
  }

  70% {
	box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
    background: inherit;
	box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

/* Make the Splunk JS combo box line-up with the other plain Bootstrap elements */
#inputOutputResults > .splunk-choice-input{
	margin-left: 10px;
}

#inputOutputResults > .splunk-choice-input > .select2-container{
	width: 284px !important; /* TODO: figure out a better way to handle this */
}
  