.preview-panel-holder{
	clear:both;
}

#preview-panel{
	width: 100%;
	border: 0px;
	height: 600px;
	background-color: white;
}

.page-preview-header{
	margin-top: 24px;
}

.wizard-content{
	background-color: white;
	padding: 12px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.required-input:after {
	content:" *";
	color: #d6563c;
	font-weight: 700;
}

.help-text{
	margin-bottom: 32px;
}

.match-count{
    min-height: 16px;
}

.step-action-buttons{
	margin-top: 16px;
}

#preview-panel{
	border: 2px dashed #ddd;
}

.WebsiteInputCreateView{
	border-top: 1px solid #ccc;
	background-color: white;
}

.preview-url-dropdown-selector{
    margin-top: 0px;
    margin-left: -73px;
}

.preview-urls-loading{
	display: inline-block;
	margin-left: 6px;
	background-image: url('/static/app/website_input/img/spiffygif_14x14.gif'); /* http://spiffygif.com/?color=000&length=2&radius=3&width=1 */
	background-repeat: no-repeat;
    padding-left: 16px;
}

.inline{
	display:inline-block;
}

#input-not-loaded{
	min-height: 300px;
	margin-left: 64px;
	margin-top: 64px;
}

.control-section{
	font-size: 12px;
    font-weight: 700;
}

.preview-urls-loading .spinner{
	margin-right: 3px;
}

.show-results-in-search{
	margin-left: 12px;
}

.authenticationHelp{
    padding-top: 6px;
    display: inline-block;
}

#inputIndexes{
    width: 240px;
}

/* Styling for detecting login fields. */
#detect-field-names{
    margin-left: 4px;
}

.detectFieldsWorked, .detectFieldsFailed, .detectFieldsChecking{
    margin-left: 12px;
}

.detectFieldsWorked{
    color: green;
	-moz-animation: highlighted-ok 0.5s;
 	-webkit-animation: highlighted-ok 0.5s;
  	-o-animation: highlighted-ok 0.5s;
  	animation: highlighted-ok 0.5s;
}

.detectFieldsFailed{
    color: red;
	-moz-animation: highlighted-not-ok 0.5s;
 	-webkit-animation: highlighted-not-ok 0.5s;
  	-o-animation: highlighted-not-ok 0.5s;
  	animation: highlighted-not-ok 0.5s;
}

.detectFieldsChecking{
    background-image: url(/static/app/website_input/img/spiffygif_14x14.gif);
    background-repeat: no-repeat;
    padding-left: 16px;
}

#inputSelector{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 0px;
}

/*
.styles-switcher .control-label, .styles-switcher .controls{
    display: inline-block;
}


.styles-switcher{
    margin-top: 20px;
}
*/

.fullWidth{
    width: 100%;
}

/* Styling for whether the browser works or not. */
#browserConnectionTest, #suggestURLFilter{
    margin-left: 4px;
}

.browserWorks, .browserDoesntWork, .browserChecking{
    margin-left: 12px;
}

.browserWorks{
    color: green;
	-moz-animation: highlighted-ok 0.5s;
 	-webkit-animation: highlighted-ok 0.5s;
  	-o-animation: highlighted-ok 0.5s;
  	animation: highlighted-ok 0.5s;
}

.browserDoesntWork{
    color: red;
	-moz-animation: highlighted-not-ok 0.5s;
 	-webkit-animation: highlighted-not-ok 0.5s;
  	-o-animation: highlighted-not-ok 0.5s;
  	animation: highlighted-not-ok 0.5s;
}

.browserChecking{
    background-image: url(/static/app/website_input/img/spiffygif_14x14.gif);
    background-repeat: no-repeat;
    padding-left: 16px;
}

@keyframes highlighted-ok {
  0.01% {
    background: #58c126;
	box-shadow: 0 0 0 0 #58c126;
  }

  70.1% {
	box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
    background: inherit;
	box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes highlighted-not-ok {
  0.01% {
    background: red;
	box-shadow: 0 0 0 0 red;
  }

  70% {
	box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }

  100% {
    background: inherit;
	box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

/* Make the Splunk JS combo box line-up with the other plain Bootstrap elements */
#inputOutputResults > .splunk-choice-input{
	margin-left: 0px;
}

#inputOutputResults > .splunk-choice-input > .select2-container{
	width: 284px !important; /* TODO: figure out a better way to handle this */
}

/*
  * Step control wizard styling. This is needed for the step wizard to work on Splunk 6.4.
  */
 .step-wizard .wizard-label {
    font-size: 20px;
    float: left;
    line-height: 80px
}

.step-wizard .step-container {
    min-height: 80px;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    width: -moz-min-content
}

.step-wizard .step-container .step-indicator {
    position: relative;
    margin-left: -2%;
    width: 102%;
    margin-top: 30px;
    padding-bottom: 1em
}

.step-wizard .step-container .step-indicator .connector {
    float: left;
    box-sizing: border-box
}

.step-wizard .step-container .step-indicator .connector>div {
    background-color: #bbb;
    height: 3px
}

.step-wizard .step-container .step-indicator .connector>div:first-child {
    float: left
}

.step-wizard .step-container .step-indicator .connector.left {
    width: 50%
}

.step-wizard .step-container .step-indicator .connector.left>div:first-child {
    width: 1.25em
}

.step-wizard .step-container .step-indicator .connector.left>div:last-child {
    margin-left: 1.25em;
    width: calc(100% - 1.25em)
}

.step-wizard .step-container .step-indicator .connector.right {
    width: 51%;
    margin-left: -1%
}

.step-wizard .step-container .step-indicator .connector.right>div:first-child {
    width: calc(100% - 1.25em)
}

.step-wizard .step-container .step-indicator .connector.right>div:last-child {
    margin-left: calc(100% - 1.25em);
    width: 1.25em
}

.step-wizard .step-container .step-indicator .circle {
    float: left;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    box-sizing: content-box;
    text-align: center
}

.step-wizard .step-container .step-label {
    color: #999;
    padding: 4px 1.25em 0;
    max-width: 150px;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    width: -moz-max-content
}

.step-wizard .step-container.active .connector.left>div {
    background-color: #4e802a
}

.step-wizard .step-container.active .circle {
    height: 17px;
    width: 17px;
    top: -7px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #4e802a
}

.step-wizard .step-container.active .step-label {
    color: #4e802a
}

.step-wizard .step-container.first .connector.left>div:first-child {
    background-color: transparent;
    width: 1.25em
}

.step-wizard .step-container.last .connector.right>div {
    background-color: transparent
}

.step-wizard .step-container.last .connector.right>div:first-child {
    width: calc(100% - 1.25em)
}

.step-wizard .step-container.last .connector.right>div:last-child {
    margin-left: calc(100% - 1.25em);
    width: 1.25em
}

.step-wizard .step-container.last .connector.left>div:first-child {
    width: calc(50% - 2px)
}

.step-wizard .step-container.last .connector.left>div:last-child {
    width: calc(100% - 21px);
    margin-left: calc(1.25em - 3px)
}

.step-wizard .step-container.last .circle {
    height: 16px;
    width: 16px;
    top: -10.5px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
    border: 3px solid #bbb;
    background-color: transparent
}

.step-wizard .step-container.last .finished-icon {
    font-size: 16px;
    color: #fff;
    display: none
}

.step-wizard .step-container.last.active .circle {
    background-color: #4e802a;
    border-color: #4e802a
}

.step-wizard .step-container.last.active .finished-icon {
    display: block
}

.step-wizard .step-container.completed .connector>div {
    background-color: #4e802a
}

.step-wizard .step-container.completed .step-label {
    opacity: .6;
    filter: alpha(opacity=60);
    color: #4e802a
}

.step-wizard .nav-buttons {
    float: left;
    height: 63px;
    line-height: 63px;
    margin-left: 10px
}

.step-wizard .nav-buttons .btn {
    font-size: 14px
}

.step-wizard .nav-buttons .next-button {
    margin-left: 3px
}

.step-wizard .nav-buttons .exit-button {
    margin-left: 10px
}
 
 